::ng-deep .mat-form-field{
    font-family: 'Poppins', sans-serif;
}
:host{
    font-family: 'Poppins', sans-serif;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    margin: 0%;
}
::ng-deep .mat-input-element:disabled {
    color: black
}

::ng-deep .mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-label {
    color: black;
}

::ng-deep.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label {
    color: black;
}

::ng-deep .mat-form-field-label {
    color: black;
}
/*BANNER*/
.endorse{
    position: fixed;
    z-index: 10;
    width: 100%;
}

.endorseBanner {
    height: 50px;
    background-color: rgb(31, 56, 98);
    color: white;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.endorseHeaderContainer{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}
.endorseBannerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 10px;
}

.endorseImgContainer {
    display: flex;
    align-items: center;
}

.endorseImgContainer img {
    height: 30px;
    object-fit: cover;
}

.endorseUserAcc {
    display: flex;
    align-items: center;
}


/*------------------------------------------------------*/


/*------------------------------------------------------*/


/*------------------------------------------------------*/


/*-------------------------------------------------------*/


/*-----------------BREADCRUMB----------------------------*/


/*-------------------------------------------------------*/

.endorseBreadcrumbContainer {
    display: flex;
    justify-content: space-between;
    background-color: #fafafa;
    width: 100%;
}

.endorseBreadcrumb {
    display: flex;
    align-items: center;
    font-size: 14px;
    width: 100%;
    padding: 5px 0px;
    list-style: none;
    background-color: #fafafa;
    margin: 5px 20px;
}

.endorseBreadcrumb a {
    color: black;
    text-decoration: none;
    padding: 0 5px;
}

.endorseBreadcrumb a:hover {
    border-radius: 5px;
}

ul.endorseBreadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">";
}


/*------------------------------------------------------*/


/*------------------------------------------------------*/


/*------------------------------------------------------*/


/*------------------------------------------------------*/


/*-----------------TITLE ENDORSEMENT--------------------*/


/*------------------------------------------------------*/

/*CREATE ENDORSEMENT FORM*/
.endorseScrnTitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px;
    background-color: white;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    padding: 5px 3px;
}
.endorseScrnTitle{
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.endorseScrnID{
    padding: 3px 5px;
    background-color: royalblue;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    font-weight: bold;
}
.endorseFormContainer{
    width: 75%;
    overflow: auto;
    display: flex;
    border-radius: 4px;
    margin: 120px 10%;
    padding: 10px 40px;
}
.createEndorseForm {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-right: 35px;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
    background-color: #fff;
}
::ng-deep .mat-form-field-wrapper{
    padding: 0;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 12px 0 8px 0;
}
::ng-deep .endorseDescRiskfld .mat-input-element{
    height: 50px;
}
::ng-deep  .endorseLocRiskfld .mat-input-element{
    height: 50px;
}
::ng-deep  .endorseRmrksfld .mat-input-element{
    height: 50px;
}
.required-input::after{
    content: "*";
    color: red;
    font-size: 15px;
}
.endorsePolfld{
    width: 50%;
}
.endorseRmrksfld{
    width: 100%;
}
.endorseDescRiskfld, .endorseLocRiskfld{
    width: 125%;
}
.endorseTotalSumInsuredfld{
    width: 70%;
}
.endorseEndorseTypefld{
    width: 100%;
}
.endorsePolInput{
    padding: 15px 5px 6px 6px;
    border: 1px solid lightgrey;
    border-radius: 4px;
}
.endorseSelect{
    padding: 15px 5px 6px 6px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    margin-top: -15px;
}
.endorseViewListbtn{
    border: none;
    background-color: #fff;
    cursor: pointer;
}
.endorseViewListbtn:hover{
    background-color: rgb(241, 238, 238);
}


 /*BUTTON*/
.endorseBtnContainer{
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #fff;
    z-index: 20;
}
.endorseClsBtnContainer{
    padding: 20px 175px;
}
.endorseProceedBtnContainer{
    padding: 20px 150px 0 0px;
}
.endorseCloseBtn{
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(255, 0, 0, 0.7);
    color: white;
  
}
.endorseCloseBtn:hover{
    background-color: red;
}

.fa-times-circle, .fa-chevron-circle-right{
    font-style: 10px;
    padding: 3px 3px;
}
.endorseProceedBtn{
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(3, 173, 252);
    color: white;
}
.endorseProceedBtn:hover{
    background-color: rgb(10, 138, 197);
}

@media only screen and (max-width: 720px){
    .createEndorseForm{
        width: 100%;
        margin: 0;
    }
    .endorseFormContainer{
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 60vh;
       
    }
}
@media only screen and (max-width: 500px){
    .createEndorseForm{
        width: 100%;
        margin: 0;
        
    }
    .endorseFormContainer{
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 60vh;
       
    }
    .endorseDescRiskfld, .endorseLocRiskfld{
        width: 110%;
    }

   
}