<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/app/app.component.css">
    <script src="https://kit.fontawesome.com/6a7678e057.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <script src="./script.JS"></script>
</head>
<body>
      <div class="endorse">
        <div class="endorseHeaderContainer">
        <div class="endorseBanner">
            <div class="endorseBannerContainer">
                <div class="" style="display: flex; align-items: center;">
                    <div class="endorseImgContainer">
                        <img src="assets/img-src/bg.png" alt="">
                    </div>
                </div>
    
                <div class="" style="font-size: 13px;">
                    <span class="" style="font-size: 25px">Integrated&nbsp;Insurance&nbsp;Brokerage&nbsp;System&nbsp;</span>
                    <span class="" style="font-size: 13px;">v5</span>
                </div>
    
                <div class="endorseUserAcc">
                    <span style="font-size: 12px;">Juan&nbsp;Dela&nbsp;Cruz</span>
    
                    <div>
                        <button mat-icon-button>
                        <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="endorseBreadcrumbContainer">
            <ul class="endorseBreadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Transaction</a></li>
                <li><a href="#">Endorsement</a></li>
                <li style="font-family: 'Poppins', sans-serif;"><a class="active" href="#"><b>Create&nbsp;Endorsement</b></a></li>
            </ul>

        </div>
    
        <div class="endorseScrnTitleContainer">
            <span></span>
            <span class="endorseScrnTitle">Create&nbsp;Endorsement</span>
            <span class="endorseScrnID">Screen&nbsp;ID:&nbsp;SCR4104013</span>
        </div>
      </div>


    
     
 <!--
          -------------------------------------------------------------------------------------------------------->
      <!---------------------------------------------------------------------------------------------------------->
      <!-----------This Section used mat-select and mat-option but the fuction is not working--------------------->
      <!---------------------------------------------------------------------------------------------------------->
      <!----------------------------------------------------------------------------------------------------------
      <div class="endorseFormContainer">
        <div style="margin: 0;">
          <div class="createEndorseForm">
              <mat-form-field class="endorsePolfld" appearance="outline">       
                <mat-label class="required-input">Policy&nbsp;No.</mat-label>  
                <input matInput value="GLTEST21ComAdj_CRG">  
                <button class="endorseViewListbtn" matSuffix><mat-icon>view_list</mat-icon></button>
              </mat-form-field>
        
              <mat-form-field class="endorseEndorseTypefld" appearance="outline">
                <mat-label class="required-input">Endorsement&nbsp;Type</mat-label>
                  <mat-select (selectionChange)="selectInput($event)">
                      <mat-option value="Value-1">Reduction in Coverage/Premium</mat-option>
                      <mat-option value="Value-2">Amendment in Policy Information Only With RD</mat-option>
                      <mat-option value="Value-2">Amendment in Policy Information Only Without RD</mat-option>
                      <mat-option value="Value-2">Addition in Charges Only</mat-option>
                      <mat-option value="Value-1">Addition in Coverage/Premium</mat-option>
                      <mat-option value="Value-2">Reduction in Charges Only</mat-option>
                      <mat-option value="Value-1">Reduction in Coverage/Premium</mat-option>
                      <mat-option value="Value-3">Policy Cancellation (Pro-rata Cancellation)</mat-option>
                      <mat-option value="Value-2">Policy Cancellation (Flat Cancellation)</mat-option>
                  </mat-select>
              </mat-form-field>
        
        
                <div *ngIf="!isNameselected">
                <div *ngIf="!isNameSelected">
                    <mat-form-field class="endorseDateReqfld" appearance="outline">
                      <mat-label class="required-input">Date&nbsp;Requested </mat-label>
                      <input matInput [matDatepicker]="picker1" readonly="true">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
             
        
                    <mat-form-field class="endorseRmrksfld" appearance="outline">
                      <mat-label class="required-input">Endorsement&nbsp;Remarks </mat-label>
                      <textarea matInput></textarea>
                    </mat-form-field>
        
             
                  <mat-form-field class="endorseIncpDfld" appearance="outline">
                    <mat-label class="required-input">Inception&nbsp;Date </mat-label>
                    <input matInput [matDatepicker]="picker2" readonly="true">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field><br>
        
             
                    <mat-form-field class="endorseExpiryDfld" appearance="outline">
                      <mat-label class="required-input">Expiry&nbsp;Date </mat-label>
                      <input matInput [matDatepicker]="picker3" readonly="true">
                      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                      <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
        
                    <mat-form-field class="endorseTotalSumInsuredfld" appearance="outline">
                      <mat-label>Total&nbsp;Sum&nbsp;Insured</mat-label>
                      <div style="display: flex; align-items:center; justify-content:space-between">
                        <span mat-prefix>PHP</span>
                      <input matInput currencyMask placeholder="0.00" value="" [options]="{ prefix: '', thousands: ',', decimal: '.' }" />        
                    </div>
                    </mat-form-field>
                 
                
                    <mat-form-field class="endorseDescRiskfld" appearance="outline">
                      <mat-label>Description&nbsp;of&nbsp;Risk </mat-label>
                      <textarea matInput></textarea>
                    </mat-form-field>
        
             
                    <mat-form-field class="endorseLocRiskfld" appearance="outline">
                      <mat-label>Location&nbsp;of&nbsp;Risk </mat-label>
                      <textarea matInput></textarea>
                    </mat-form-field>
                </div>
              </div>
              </div>
          
        
                <div *ngIf="isNameSelected">
                  <mat-form-field class="endorseDateReqfld" appearance="outline" style="width: 80%;">
                    <mat-label class="required-input">Date&nbsp;Requested </mat-label>
                    <input matInput [matDatepicker]="picker1">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
        
                  <mat-form-field class="endorseRmrksfld" appearance="outline">
                    <mat-label class="required-input">Endorsement&nbsp;Remarks </mat-label>
                    <textarea matInput></textarea>
                  </mat-form-field>
                </div>
        
        
                <div *ngIf="isNameselected">
                  <mat-form-field class="endorseDateReqfld" appearance="outline">
                    <mat-label class="required-input">Date&nbsp;Requested </mat-label>
                    <input matInput [matDatepicker]="picker1">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
        
                  <mat-form-field class="endorseRmrksfld" appearance="outline">
                    <mat-label class="required-input">Endorsement&nbsp;Remarks </mat-label>
                    <textarea matInput></textarea>
                  </mat-form-field>
        
                  <mat-form-field class="endorseExpiryDfld" appearance="outline">
                    <mat-label class="required-input">Expiry&nbsp;Date </mat-label>
                    <input matInput [matDatepicker]="picker3">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div> -->

         
        

 <div class="endorseFormContainer">
<div style="margin: 0;">
  <div class="createEndorseForm">
      <mat-form-field class="endorsePolfld" appearance="outline">       
        <mat-label class="required-input">Policy&nbsp;No.</mat-label>  
        <input matInput value="GLTEST21ComAdj_CRG" class="endorsePolInput">  
        <button class="endorseViewListbtn" matSuffix><mat-icon>view_list</mat-icon></button>
      </mat-form-field>

      <mat-form-field class="endorseEndorseTypefld" appearance="outline">
        <mat-label class="required-input">Endorsement&nbsp;Type</mat-label>
          <select (change)="selectInput($event)" class="endorseSelect">
              <option value="Value-1">Reduction in Coverage/Premium</option>
              <option value="Value-2">Amendment in Policy Information Only With RD</option>
              <option value="Value-2">Amendment in Policy Information Only Without RD</option>
              <option value="Value-2">Addition in Charges Only</option>
              <option value="Value-1">Addition in Coverage/Premium</option>
              <option value="Value-2">Reduction in Charges Only</option>
              <option value="Value-1">Reduction in Coverage/Premium</option>
              <option value="Value-3">Policy Cancellation (Pro-rata Cancellation)</option>
              <option value="Value-2">Policy Cancellation (Flat Cancellation)</option>
          </select>
      </mat-form-field>


        <div *ngIf="!isNameselected">
        <div *ngIf="!isNameSelected">
            <mat-form-field class="endorseDateReqfld" appearance="outline">
              <mat-label class="required-input">Date&nbsp;Requested </mat-label>
              <input matInput [matDatepicker]="picker1" readonly="true">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
     

            <mat-form-field class="endorseRmrksfld" appearance="outline">
              <mat-label class="required-input">Endorsement&nbsp;Remarks </mat-label>
              <textarea matInput></textarea>
            </mat-form-field>

     
          <mat-form-field class="endorseIncpDfld" appearance="outline">
            <mat-label class="required-input">Inception&nbsp;Date </mat-label>
            <input matInput [matDatepicker]="picker2" readonly="true">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field><br>

     
            <mat-form-field class="endorseExpiryDfld" appearance="outline">
              <mat-label class="required-input">Expiry&nbsp;Date </mat-label>
              <input matInput [matDatepicker]="picker3" readonly="true">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="endorseTotalSumInsuredfld" appearance="outline">
              <mat-label>Total&nbsp;Sum&nbsp;Insured</mat-label>
              <div style="display: flex; align-items:center; justify-content:space-between">
                <span mat-prefix>PHP</span>
              <input matInput currencyMask placeholder="0.00" value="" [options]="{ prefix: '', thousands: ',', decimal: '.' }" />        
            </div>
            </mat-form-field>
         
        
            <mat-form-field class="endorseDescRiskfld" appearance="outline">
              <mat-label>Description&nbsp;of&nbsp;Risk </mat-label>
              <textarea matInput></textarea>
            </mat-form-field>

     
            <mat-form-field class="endorseLocRiskfld" appearance="outline">
              <mat-label>Location&nbsp;of&nbsp;Risk </mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
        </div>
      </div>
      </div>


        <div *ngIf="isNameSelected">
          <mat-form-field class="endorseDateReqfld" appearance="outline" style="width: 80%;">
            <mat-label class="required-input">Date&nbsp;Requested </mat-label>
            <input matInput [matDatepicker]="picker1" readonly="true">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="endorseRmrksfld" appearance="outline">
            <mat-label class="required-input">Endorsement&nbsp;Remarks </mat-label>
            <textarea matInput></textarea>
          </mat-form-field>
        </div>


        <div *ngIf="isNameselected">
          <mat-form-field class="endorseDateReqfld" appearance="outline">
            <mat-label class="required-input">Date&nbsp;Requested </mat-label>
            <input matInput [matDatepicker]="picker1" readonly="true">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="endorseRmrksfld" appearance="outline">
            <mat-label class="required-input">Endorsement&nbsp;Remarks </mat-label>
            <textarea matInput></textarea>
          </mat-form-field>

          <mat-form-field class="endorseExpiryDfld" appearance="outline">
            <mat-label class="required-input">Expiry&nbsp;Date </mat-label>
            <input matInput [matDatepicker]="picker3" readonly="true">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>



      <!--Footer-->
            <div class="endorseBtnContainer">
              <div class="endorseClsBtnContainer">
                <button class="endorseCloseBtn" mat-raised-button><i class="fas fa-times-circle"></i>Close</button> 
              </div>
              
              <div class="endorseProceedBtnContainer">
              <a href="./app.component.html"><button type="submit" class="endorseProceedBtn" mat-raised-button>Proceed<i class="fas fa-chevron-circle-right"></i></button></a>
              </div>
            </div>
          
</body>
</html>
